.banner {

  &_container {
    background-color: #DC4B54;
    display: flex;
    justify-content: flex-start;
    margin-top: 155px;
    border-radius: 20px;
    width: 1560px;
    height: 587px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

      &::before {
        position: absolute;
        background-image: url('../img/banner-logo.svg');
        background-repeat: no-repeat;
        content: '';
        width: 980px;
        height: 317px;
        left: 0;
        bottom: 0;
        z-index: 0;
      }
  }

  &_content-wrapper {
    position: relative;
    margin-top: 90px;
    width: 737px;
    height: 477px;
    color: white;
    display: flex;
    flex-direction: column; 
  }

  &_title {
    font-size: 58px;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
  }

  &_button {
    @include clear-button;

    width: 219px;
    height: 66px;
    background-color: white;
    color: #DC4B54;
    font-size: 28px;
    font-weight: 700;
    margin: 33px 0px 29px;
  }

  &_sneakers-list {
    @include clear-list;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    width: 330px;
    height: 102px;
  }

  &_sneakers-item {
    width: 71px;
    height: 71px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_sneakers-img {
    scale: 1.2;

    filter:
      drop-shadow(0px 2.77px 2.21px rgba(0,0,0,0.10))
      drop-shadow(0px 6.65px 5.32px rgba(0,0,0,0.12))
      drop-shadow(0px 12.52px 10.02px rgba(0,0,0,0.14))
      drop-shadow(0px 22.34px 17.87px rgba(0,0,0,0.16))
      drop-shadow(0px 41.78px 33.42px rgba(0,0,0,0.18))
      drop-shadow(0px 100px 80px rgba(0,0,0,0.22));

  }

  &_img {
    transform: translateY(-107px);
    filter: drop-shadow(0px -20px 94.5px #00000033);
  }

  &_slide-buttons {
    @include clear-button;
    
    position: absolute;
    width: 92px;
    height: 11px;
    display: flex;
    justify-content: center;
    gap: 20px;
    right: 22px;
    bottom: 25px;
  }

  &_button-dot {
    background-color: white;
    border-radius: 50%;
    width: 11px;
    height: 11px;

      &.is-active {
        width: 30px;
        border-radius: 20px;
      }
  }
}