.best_selling {
  
  &_container {
    margin-top: 124px;
    margin-bottom: 85px;
  }

  &_title {
    font-size: 45px;
    line-height: 138%;
    font-weight: 500;
  }

  &_gender-swap {
    display: flex;
    justify-content: space-between;
    width: 514px;
    height: 79px;
    margin: 62px auto 80px;
    gap: 80px;
    
    &--man {
      width: 219px;
      height: 80px;
    }
    &--wmn {
      width: 219px;
      height: 80px;
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: 1042px 488px;
    grid-template-rows: 524px 524px;
    row-gap: 69px;
    column-gap: 29px;
  }

  &_product {

      &--featured {
      grid-row: 1 / 3;
      padding: 98px 80px 22px;
    }
  } 

  &_button-more {
    display: block;
    margin: 85px auto 0;
  }
}