.footer {
    background-color: black;
    color: white;

  &_container {
    padding: 85px 84px 30px;
    margin-top: 85px;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
  }

  &_about {
    width: 409px;
    height: 219px;
    display: flex;
    flex-direction: column;
  }

  &_description {
    font-size: 18px;
    line-height: 154%;
    font-weight: 400;
    margin-bottom: 55px;
    margin-top: 47px;
  }

  &_icons {
    display: flex;
    justify-content: space-between;
    width: 70px;
    height: 33px;
  }

  &_subscribe {
    width: 477px;
    height: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    transform: translateX(-20%)
  }

  &_subscribe-description {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  &_subscribe-form {
    width: 477px;
    height: 61px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &_subscribe-email {
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding-left: 20px; 
  }

  &_subscribe-button {
    @include clear-button;

    background-color: white;
    color: black;
    width: 160px;
    font-size: 18px;
    font-weight: 500;
    border: white;
    border: none;
  }

  &_links {
    width: 169px;
    height: 147px;
  }
  
  &_links-name {
    font-size: 20px;
    font-weight: 500;
  }

  &_links-list {
    @include clear-list;

    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &_links-item {
    font-size: 18px;
    font-weight: 400;
  }

  &_rights {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    position: relative;

      &::before {
        width: 66px;
        height: 1px;
        content: '';
        background-color: white;
        position: absolute;
        top: -38px;
        left: 50%;
        transform: translateX(-50%)
      }
  }
}