.hero {

  &_container {
    display: flex; 
    justify-content: space-between;
  }

  &_title-button {
    width: 590px;
    height: 580px;  
    color: black;
    margin-top: 340px;
  }

  &_title {
    font-weight: 700;
    font-size: 75px;
    line-height: 112%;
  }

  &_description {
    font-weight: 400;
    font-size: 28px;
    line-height: 43px;
  }

  &_product {
    position: relative;
    padding-top: 316px;
    padding-bottom: 131px;
    text-align: center;
    width: 998px;
    height: 1117px;

      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 7%;
          width: 56.4vw;
          height: 100%;
          background:
            url("../img/ultimate.svg") no-repeat left 156px,
            linear-gradient(to right, #e4e4e4 0%, #fafafa 100%);
          background-size:
            142px 949px,
            100% 100%;
          z-index: 1;
      }
  }


  &_product-img {
    display: block;
    position: relative;
    margin: 0 auto 30px auto;
    width: 783px;
    height: 474px;
    z-index: 3;
  }

  &_product-name {
    position: relative;
    font-weight: 500;
    line-height: 35px;
    font-size: 38px;
    color: #000;
    margin: 0 0 15px 0;
    z-index: 3;
  }

  &_product-price {
    position: relative;
    display: block;
    font-size: 32px;
    line-height: 29px;
    z-index: 3;
  }
}