.product {
    position: relative;
    border: 2px solid #DEDEDE;
    border-radius: 25px;
    color: black;
    padding: 28px 40px 27px;

  &--new {
       &::after { 
        background-image: url('../img/new-icon.svg'); 
        width: 59px; 
        height: 32px; 
        content: 'New'; 
        color: white; 
        font-size: 18px; 
        line-height: 30px; 
        font-weight: 500; 
        text-align: center; 
        position: absolute; 
        left: -2px; 
        top: 50px; 
        filter: drop-shadow(8px 7px 16px #00000040);
      } 
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &_name {
    display: block;
    margin-bottom: 40px;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
  }

  &_prices {
    display: flex;
    align-items: baseline;
    gap: 28px;
  }  

  &_price {
    font-size: 24px;
    margin-right: 28px;
  }

  &_price-old {
    text-decoration: line-through;
    font-size: 18px;
    }
  

  &_button-catalog {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 2;
  }

  &--big {
    padding: 98px 80px 23px;
  }

  &--big {
      &::after {
        background-image: url('../img/hot-icon.svg');
        width: 120px;
        height: 65px;
        content: 'Hot!';
        color: white;
        font-size: 36px;
        line-height: 65px;
        text-align: center;
        position: absolute;
        left: -2px;
        top: 104px;
        filter: drop-shadow(8px 7px 16px #00000040);
    }
  }

  &--big &_name {
    width: 625px;
    font-size: 64px;
    font-weight: 500;
    line-height: 138%;
  }

  &--big &_prices {
    gap: 44px;
  }

  &--big &_price {
    font-size: 48px;
    font-weight: 400;
    line-height: 138%;
  }

  &--big &_price-old {
    font-size: 24px;
    font-weight: 400;
  }

  &--big &_button-catalog {
    right: 80px;
    bottom: 60px;
  }
}
