.reviews {
  color: black;

  &_title {
    font-size: 45px;
    line-height: 138%;
  }

  &_list {
    @include clear-list;

    display: flex;
    flex-direction: row;
    gap: 68px;
  }

  &_item {
    display: flex;
    align-items: flex-start;
    gap: 54px;
    border: 2px solid #DEDEDE;
    border-radius: 25px;
    background-color: #F3F3F3;
    padding: 78px 67px;
  }

  &_ava {
    
  filter:
    drop-shadow(0px 2.77px 2.21px #00000005)
    drop-shadow(0px 6.65px 5.32px #00000007)
    drop-shadow(0px 12.52px 10.02px #00000009)
    drop-shadow(0px 22.34px 17.87px #0000000B)
    drop-shadow(0px 41.78px 33.42px #0000000D)
    drop-shadow(0px 100px 80px #00000012);
  }

  &_content {
    width: 422px;
  }

  &_name {
    font-weight: 500;
    font-size: 28px;
    line-height: 138%;
    margin: 0;
  }

  &_raiting {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 8px;

    &_star {
      width: 19px;
      height: 19px;
      background-repeat: no-repeat;
      background-position: center;

      &--full {
        background-image: url('../img/star-full.svg');
      }

      &--half {
        background-image: url('../img/star-half.svg');
      }
    }
  }

  &_coment {
    font-weight: 400;
    font-size: 18px;
    line-height: 138%;
  }
}