@import 'common/fonts.scss';
@import 'common/clear-button.scss';
@import 'common/clear-list.scss';

@import 'root.scss';
@import 'blocks/container.scss';
@import 'blocks/btn.scss';
@import 'blocks/section_title.scss';
@import 'blocks/menu.scss';
@import 'blocks/hero.scss';
@import 'blocks/markets.scss';
@import 'blocks/trends.scss';
@import 'blocks/banner.scss';
@import 'blocks/best_selling.scss';
@import 'blocks/product.scss';
@import 'blocks/reviews.scss';
@import 'blocks/footer.scss';